// Color system
$color-primary: #ff6f02;

$color-black: #000;
$color-black-2: #2d313c;
$color-black-3: #2c313b;

$color-white: #fff;
$color-white-2: #f7f7f7;

$color-grey: #ccc;
$color-grey-2: #787777;
$color-grey-3: #f2f0f0;

//###############
$color-primary-2: #fadfca;

$color-secondary: #7f7f7f;
$color-secondary-2: #f7f6f6;
$color-secondary-3: #a1a0a0;
$color-secondary-4: #747474;

$color-error: #ff4452;

$color-content: #4b4b4b;

$color-black-2: #424242;
$color-black-3: #515151;
$color-shadow: #151519;

$color-dark-2: #222222;
$color-dark-3: #313131;

$color-text: #515151;
$color-text-2: #868686;

$font-family-base: "SourceHanSansCN", Sans-Serif;

$container-width: 90rem;

$forms-container: rem(1340);
