@import "../../sass/abstracts/abstracts.scss";

.box {
    background-color: $color-white;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(60) 20px;
        max-width: $forms-container;

        @include respond("medium") {
            padding: rem(60) 0;
        }

        @media only screen and (max-width: 41.25em) {
            flex-direction: column;
            padding: rem(60) 20px;
            align-items: flex-start;
        }

        & > * {
            margin: 0 rem(50);

            @include respond("large") {
                margin: 0 rem(30);
            }

            @include respond("medium") {
                margin: 0 20px;
            }

            @media only screen and (max-width: 41.25em) {
                margin: 0;
            }
        }
    }
    &:nth-of-type(odd) {
        background-color: #f5f4f4;

        .container {
            flex-direction: row-reverse;

            @media only screen and (max-width: 41.25em) {
                flex-direction: column;
            }
        }
    }
    .productImg {
        max-width: 53.5%;

        @media only screen and (max-width: 41.25em) {
            max-width: 100%;
        }

        @media only screen and (max-width: 41.25em) {
            margin-top: 2rem;
        }

        img {
            width: 100%;
        }
    }
}

.content {
    flex-grow: 1;
    flex-shrink: 0;

    h3 {
        letter-spacing: 3px;
    }
}

.list {
    @include set-font(rem(32), 500, $color-black-2);
    @include respond("extra-large") {
        font-size: rem(26);
    }
    @include respond("large") {
        font-size: rem(21);
    }
    li {
        display: flex;
        margin-top: rem(15);
        align-items: flex-start;
        & > :first-child {
            display: block;
            position: relative;
            padding-left: rem(15);
            &::before {
                content: "";
                position: absolute;
                background-color: $color-primary;
                width: 3px;
                height: 2rem;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                @include respond("extra-large") {
                    height: 1.8rem;
                }
                @include respond("large") {
                    height: 1.2rem;
                }
            }
        }

        .highlight {
            color: $color-primary;
        }
    }
}
