@import "../../sass/abstracts/abstracts.scss";

.advantages {
    padding: rem(50) 0 rem(30);
    text-align: center;
    color: $color-grey-2;
    //Offsetting anchor hash tag links to adjust for fixed header
    position: relative;
    margin-top: -80px;
    z-index: -1;
}

.content {
    font-size: rem(19);
    margin-top: rem(18);
    @include respond("medium") {
        font-size: rem(16);
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: rem(17);
    @include respond("medium") {
        padding-left: rem(10);
    }
    & > * {
        margin: rem(60) rem(30) 0;
        @include respond("extra-small") {
            margin-top: rem(36);
        }
    }
}
