@import "../../sass/abstracts/abstracts.scss";

.table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: #f2f2f2;
    margin: 0;
    margin-top: rem(12);

    *,
    th,
    td {
        padding: rem(5);
        border: 1px solid #000;
        text-align: center;
    }

    th {
        background-color: $color-primary;
        @include set-font(rem(19), 700, $color-white, 1.6);
    }

    .heading {
        background-color: $color-grey;
    }

    tbody td {
        padding: rem(10) rem(9);

        @media only screen and (max-width: 54.4em) {
            font-size: rem(14);
            padding: rem(8) rem(3);
        }

        @media only screen and (max-width: 41.25em) {
            padding: rem(10) rem(9);
            font-size: rem(16);
        }

        @include respond("extra-small") {
            padding: rem(8) rem(3);
            font-size: rem(15);
        }
    }
}
