@import "../../sass/abstracts/abstracts.scss";

.marketing {
    padding-top: rem(60);

    & > .container {
        max-width: $forms-container;
    }
    .schedules {
        @include set-font(rem(27), 500, $color-black-2);
        padding: rem(195) rem(45) rem(90);

        @media only screen and (max-width: 83.15em) {
            font-size: rem(20);
        }
    }
}

.scheduleList {
    display: flex;
    padding: 0 rem(50);
}

.detail {
    display: flex;
    img {
        height: rem(30);
        margin-left: rem(11);
    }
}

.sechedule {
    width: 33.333%;
    & > * {
        margin: 0 rem(8);
    }

    &:nth-of-type(2) {
        transform: translateY(-5rem);
    }

    &:nth-of-type(3) {
        transform: translateY(-10rem);
    }

    h3 {
        text-align: right;
        @include set-font(rem(53), 700, $color-primary, null, 4px);
        padding-right: rem(43);
        margin-bottom: rem(22);

        svg {
            width: rem(50);
            margin-left: rem(15);
            fill: $color-primary;
            transform: translateY(rem(3));
        }
    }

    .detailContent {
        p {
            margin-left: -1.7rem;
        }
        border: rem(30) solid $color-primary;
        padding: rem(15) 0 rem(15) rem(37);
        border-right: none;
        border-bottom: none;
    }
    &:nth-of-type(even) {
        h3 {
            color: $color-black-2;

            svg {
                fill: $color-black-2;
            }
        }

        .detailContent {
            border-color: $color-black-2;

            ol {
                margin-bottom: -5rem;

                @media only screen and (max-width: 83.15em) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &:last-of-type {
        h3 {
            padding-right: 0;
        }
        .detail img {
            display: none;
        }

        .detailContent {
            ol {
                margin-bottom: -2.2rem;

                @media only screen and (max-width: 83.15em) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.box {
    background-color: #f5f4f4;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(60) 20px;
        max-width: $forms-container;

        & > * {
            margin: 0 rem(42);
        }
    }

    .productImg {
        max-width: 43%;
        img {
            width: 100%;
        }
    }

    .content {
        flex: 1;
        padding-left: rem(100);
        h3 {
            letter-spacing: 3px;
        }
    }
}
