@import "../../sass/abstracts/abstracts.scss";

.footer {
    background: center / cover url("/footer.jpg");
    padding: rem(105) 0 rem(114);
    @include respond("large") {
        padding: rem(50) 0 rem(30);
    }
    a:hover {
        color: $color-primary;
    }
}

.footer .content {
    @include set-font(rem(19), null, $color-white, 1.7);
    display: flex;
    justify-content: center;
    padding: 0;
    @include respond("large") {
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media only screen and (max-width: 43.75em) {
        max-width: 100%;
        justify-content: center;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(378);
    text-align: center;
    margin: 0 rem(25);
    @media only screen and (max-width: 64em) {
        margin: 0 rem(16);
    }
    @include respond("large") {
        width: 295px;
        margin-bottom: rem(22);
        &:nth-child(2),
        &:nth-child(4) {
            order: 1;
        }
    }
}

.icon {
    width: rem(60);
    margin-bottom: rem(8);
    height: rem(57);
    display: flex;
    align-items: flex-end;
    @include respond("large") {
        width: rem(40);
    }
    img {
        display: block;
        width: 100%;
    }
}

.icon_marker {
    width: rem(40);
    @include respond("large") {
        width: rem(30);
    }
}

.phone {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 82.5em) {
        flex-direction: column;
        flex-wrap: unset;
    }
}

.links {
    max-width: rem(190);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright {
    color: $color-white;
    margin-top: rem(113);
    font-size: 16px;
    text-align: center;
    @include respond("large") {
        margin-top: rem(70);
    }
    @include respond("medium") {
        font-size: rem(16);
    }
    @include respond("small") {
        text-align: center;
        line-height: 2;
    }
}

.copyright span {
    margin-right: rem(46);
    @include respond("small") {
        display: block;
        margin-right: 0;
    }
}
