@import "../../sass/abstracts/abstracts.scss";

.box {
    background-color: $color-white;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(30) 20px;
        max-width: $forms-container;

        @include respond("small") {
            flex-direction: column;
        }

        & > * {
            margin: 0 rem(45);

            @include respond("medium") {
                margin: 0 rem(20);
            }
        }
    }
    &:nth-of-type(odd) {
        background-color: #f5f4f4;

        .container {
            flex-direction: row-reverse;
            align-items: center;

            @include respond("small") {
                flex-direction: column;
            }
        }
    }
    .productImg {
        max-width: rem(493);
        @include respond("large") {
            max-width: 40%;
        }

        @include respond("small") {
            order: 1;
            margin-top: 2rem;
            max-width: 80%;
        }
        &.small {
            max-width: rem(227);
            margin: 0 14rem;

            @include respond("extra-large") {
                margin: 0 10rem;
            }

            @include respond("large") {
                margin: 0 5rem;
            }

            @include respond("medium") {
                margin: 0 2.5rem;
            }

            @include respond("small") {
                margin-top: 2rem;
                max-width: 50%;
            }
        }

        img {
            width: 100%;
        }
    }
}

.content {
    text-align: center;
    flex: 1;

    h3 {
        display: inline-block;
        @include set-font(rem(53), 700, $color-primary);

        @include respond("extra-large") {
            font-size: rem(40);
        }

        @include respond("medium") {
            font-size: rem(30);
        }

        span {
            display: inline-block;
            padding: 0 rem(60);

            @include respond("medium") {
                padding: 0 rem(40);
            }
        }

        &::after {
            content: "";
            display: block;
            background-color: $color-primary;
            height: rem(6);
            margin: rem(20) 0;
        }
    }

    p {
        @include set-font(rem(40), 500, $color-black-2, 1.5);

        @include respond("extra-large") {
            font-size: rem(30);
        }

        @include respond("large") {
            font-size: rem(24);
        }
    }
}
